@import "src/styles/mixins";

// =------------ Product Settings -----------------=
.top {
  margin-bottom: 16px;
  
  >   h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 2px;
  }

  > h6 {
    color: var(--violet);
  }
  > div, h6 {
    @include flex(center, space-between);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--violet);

    div {
      color: var(--text-gray-2);
      span {
        color: var(--violet);
      }
    }
  }
}


// =-------------- COUNTER --------------------=
.counter_root {
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  @include flex(center, space-between);
  max-width: max-content;
  padding-inline: 4px;

  span {
    @include flex-center(center);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    @include rectangle(32);
    color: var(--black);
  }

  h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    padding-inline: 12px;
    color: var(--black);
  }
}


.middle {
  @include flex-between(flex-end);
  margin-bottom: 24px;


  h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    margin-bottom: 8px;
  }

}

.color {
  @include rectangle(22);
  border-radius: 4px;
}

.colors_item {
  @include flex-start(center);
  gap: 8px;
}


.buttons {
  @include flex-center(center);
  gap: 8px;
  margin-bottom: 16px;

  button {
    width: 100%;
    padding-block: 10px !important;
    transition: all 300ms ease;

    @include flex-center(center);
    gap: 4px;
  }
}

.bottom_title {
  @include flex-center(flex-start);
  gap: 4px;
  margin-bottom: 6px;

  span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    border-radius: 100vmax;
    @include rectangle(22);
    @include flex-center(center);
    background-color: var(--gray);
  }

  h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
}

.infoItem__root {
  @include flex-center(flex-start);
  h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
      @include flex-center(center);
    gap: 4px;

    &:before {
      content: '';
      @include rectangle(4);
      background-color: var(--black);
      border-radius: 100vmax;
    }
  }
}

.info {
  @include flex-center(flex-start);
  flex-wrap: wrap;
  gap: 12px;
}