@import "src/styles/mixins";

.colors {
  @include flex-start(center);
  flex-wrap: wrap;
  @include maxWidth(240);
  gap: 4px;
}

.root {
  position: relative;
  height: calc(100vh - 5px);
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #727474;

  button {
    margin-inline: auto;
    position: absolute;
    inset: auto 16px 24px 16px;
  }
}