@import "mixins";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', 'Poppins', sans-serif;
  line-height: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
  }
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input, textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding-block: 4px;
  outline: none;
  color: #ffffff;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  @include maxWidth(450);

  &:placeholder-shown {
    color: #CCCCCC;
  }

  &:focus {
    color: #FFE600;
    border-bottom: 1px solid #FFE600;
  }
}


.container {
  max-width: 1410px;
  margin: 0 auto;
  padding-inline: 20px;
  box-sizing: border-box;

  @media (max-width: 767px) {
    max-width: 100%;
    padding: 0 15px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    max-width: 970px;
  }
}


.active {
  font-weight: 600 !important;
  color: #FCD318 !important;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.btn {

  &_orange {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1E1E1E;
    padding: 14px 32px;
    background: #FCD318;
    border-radius: 12px;
  }

  &_bordered {
    @include flex-center(center);
    gap: 10px;
    padding: 14px 42px;
    border: 1px solid #17365E;
    border-radius: 12px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #17365E;
  }
}


.title {
  margin-bottom: 12px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--black);
}

.badge {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  padding: 10px 20px;
  color: #2D2C2E;
  border-radius: 30px;
  background-color: #fff;
  max-width: max-content;

  &_active {
    background: #FCD318;
  }
}


// =------------- SWIPER ----------=
.swiper_container {

}

.swiper {

  &-wrapper {

  }

  &-button-prev {

  }

  &-button-next {

  }

  &-pagination {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}


.gallerySwiper {

  .swiper {

    &-wrapper {

    }

    &-button-prev {

    }

    &-button-next {
      img {
        width: 520px !important;
        height: 400px !important;
      }
    }

    &-pagination {

    }
  }
}

.swiper-pagination {
  @include flex-center(center);
  gap: 6px;
  &-bullet {
    @include rectangle(8);
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #BBBBBB;
  }

  &-bullet-active {
    color: #fff;
    background: #17365E;
    @include rectangle(10);
  }
}

.swiper-btn {
  @include flex-center(center);

  &-prev {
    cursor: pointer;
    max-width: max-content;
  }

  &-next {
    cursor: pointer;
    max-width: max-content;
  }
}
