:root {
  // =------------ COLORS ----------------=
  --black: rgb(0, 0, 0);
  --white: #ffffff;
  --blue: #3C4BDC;
  --violet: #6956F4;
  --yellow: #FCEE21;
  --green: #00B154;
  --dark-violet: #200E32;
  --gray: #F5F5F7;
  --red: #FF0000;
  --text-gray: #9A999B;
  --text-gray-2: #BDBDBD;
}