@import "src/styles/mixins";


.root {
  position: relative;
  height: 100vh;
  h1 {
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #001935;
    margin-bottom: 16px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #001935;
    opacity: 0.72;
    margin-bottom: 40px;
  }

  > h6 {
    text-align: center;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    color: #0158FF;
  }

}

.bottom {
  max-width: 100%;
  position: absolute;
  inset: auto 16px 24px 16px;
  text-align: center;

  > a {
    width: 100%;
    margin-bottom: 12px;
  }

  div {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;

    a {
      color: #0029FF;
      text-decoration: underline;
    }
  }
}

.confirm_code {
  div {
    @include flex-center(center);
    gap: 8px;


    input {
      background: #F1F1F1;
      border-bottom: 1px solid #020105;
      border-radius: 4px;
      @include flex-center(center);
      font-family: 'TT Firs Neue';
      font-style: normal;
      width: 48px;
      padding: 12px 12px 12px 18px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
  }
}