@import "src/styles/mixins";

.root {
  @include maxWidth(177);
}

.top {
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 177px;
    height: 195px;
    object-fit: cover;
  }
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.middle {
  margin-bottom: 4px;
  > h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--black);
    margin-bottom: 2px;
  }

  > h5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--violet);
  }
}

.bottom {
  @include flex-between(center);

  > span {
    @include flex-center(center);
    border-radius: 100vmax;
    padding: 8px;
    background-color: #F8F8F8;
    cursor: pointer;
  }
}


// =-------------- CATEGORY ----------------=
.category__card {
  text-align: center;
  > h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #020105;
  }
}
.category__img {
  @include flex(center, center);
  background: #F5F5F5;
  padding-block: 12px;
  border: 0.5px solid #6792F4;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 4px;

  img {
    width: 60px;
    height: 70px;
    object-fit: cover;
  }
}