@import "src/styles/mixins";

.modal {
  @include flex-center(center);
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 234345;
  animation: fade-on 300ms;
}

.content {
  position: relative;
  @include maxWidth(313);
  background: #F9F9F9;
  border-radius: 12px;
  animation: fade-down 300ms;
  padding: 20px;
}