@import "src/styles/mixins";

// =--------------- CARD STYLES ---------------=
.orders_card {
  @include flex-start(center);
  gap: 8px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  padding: 12px 12px 12px 13px;
  margin-bottom: 16px;
  position: relative;
}

.card_img {
  @include flex-center(center);
  @include rectangle(88);
  border: 1px solid #EEEEEE;
  border-radius: 10px;
}

.card_options {
  width: 100%;
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
  }

  div {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    color: #3C4BDC;
  }

  p {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-transform: capitalize;
    color: #BDBDBD;
  }

}

.order_status {
  @include flex-center(center);
  margin-left: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--white);
  padding: 6px;
  border-radius: 8px;
  max-width: max-content;
  min-width: 127px;
}