@import "src/styles/mixins";

.home__root {
  text-align: left;
  margin-bottom: 22px;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 123;
  background-color: var(--white);
  padding-block: 16px;
  padding-inline: 16px;

  h1 {
    font-family: 'Roboto';
  }
}

.more {
  text-align: left !important;
  @include flex-between(center);
  
  span {
    cursor: pointer;
  }

  h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-transform: capitalize;
    color: #0029FF;
    cursor: pointer;
  }
}


.root {
  text-align: center;
  position: fixed;
  inset: 0 0 auto 0;
  background-color: var(--white);
  padding-block: 18px;
  z-index: 123;

  h1 {
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
  }
}