@import "src/styles/mixins";

.root {
  background-color: #EEF0F3;
}

.title {
  padding-top: 50px;
}

.left {

  h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #17365E;
    margin-bottom: 30px;
  }

  p {
    @include maxWidth(700);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1E1E1E;
  }
}

.right {
  img {
    border: 5px solid #FFFFFF;
    border-radius: 12px;
  }
}

.item1, .item3, .item2, .item4 {
  @include flex-between(flex-start);
  padding-bottom: 90px;
}


.item2, .item4 {
  flex-direction: row-reverse;
}

